<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="http://github.com/BostonTheseus">Robert</a> &amp; <a target="_blank" href="http://firehoseproject.com">The Firehose Project</a>
	</p>
	<br />
	<p>
		Robert is just starting what he knows will be a lifelong adventure in coding and development. He attended Ithaca College, graduating with degrees in English and Writing in 2005.
	</p>
	<p>
		He's always looking for <%= link_to 'more', "https://www.linkedin.com/in/robert-morris-36b75023/" %> <%= link_to 'friends', "https://github.com/BostonTheseus" %> in the development world!
	</p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'http://i.imgur.com/Apg2jWY.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Robert Morris</h2>
		<br />
		<p>
			My only real goal is the ability to code the blank target correctly and so my favorite webcomic is <a target="_blank" href="http://www.achewood.com">Achewood</a>.
		</p>
	</div>
	<br class="clear" />

	<div class="col-xs-12 col-sm-4" style="padding-top:30px;">
		<%= image_tag 'http://i.imgur.com/W0owVC8.jpg', :class => 'img-responsive' %>
	</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

